table{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px dotted grey;
    border-collapse: collapse;
}
td, th{
    text-align: left;
    border: 1px solid grey;
    padding: 8px;
}
tr:nth-child(even){
    background-color: antiquewhite;
}
/*tr:nth-child(odd){
    background-color: navy;
}*/
caption{
    font-size: larger;
}